// Accessibility styles
input.btn-success {
    font-weight: bold;
    background-color: #3A803A ;
    border-color: #3A803A 7;
}

.skip-to-endpoint {
  opacity: 0;
  display: inline-block;

  &:focus,
  &:focus-visible {
    opacity: 1;
    outline: 2px solid #ffbf47;
    background: #ffbf47;
  }
}
