.qonsole {
  font-size: 1.2rem;
  margin-top: 2em;

  .mx-auto {
    display: inline-block;
    margin-inline: auto;
    width: fit-content;
  }

  h2 {
    line-height: 2;
  }

  .qonsole-h2 {
    font-size: 16px;
  }

  h2, .query-chrome label {
    font-size: 18px;
    color: #3D3D3D;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
  }

  .examples {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 32em) {
      flex-direction: column;
      > li {
        width: 100%;
        input.btn {
          display: block;
          width: 100%;
        }
      }
    }

    input.btn {
      border: 1px solid #ddd;
      &.active,
      &:active,
      &:focus,
      &:hover {
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }

  .well {
    padding: 5px;

    &.vertical {
      line-height: 2;
      h2 {
        display: inline-block;
        margin-right: 1em;
      }
      input {
        &.form-control {
          height: unset;
          &.checkbox {
            margin-right: 0.5rem;
          }
        }
      }

      .prefixes {
        margin-left: 1rem;
        .prefix {
          input {
            margin-left: 0.5em;
            margin-right: 0.25rem;
          }
          label {
            font-weight: normal;
          }
        }
      }
    }

    ul {
      margin-bottom: 0;
    }

    ul li {
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }

  h2+ul {
    display: inline-block;
  }

  .query-chrome {
    margin-top: 1em;
    .row {
      width: 100%;
      margin-inline: unset;

      .form-group {
        text-align: start;

        @media (min-width: 44em) {
          text-align: end;
          &:first-of-type {
            text-align: start;
          }
        }
      }
      @media(max-width: 44em) {
        flex-wrap: wrap;
      }
      @media (max-width: 22em) {
        flex-direction: column;
      }
    }
  }

  .timeTaken {
    font-style: italic;
    text-transform: none;
    color: #666;
    margin-bottom: 5px;
    font-size: 13px;
  }

  pre.results-plain {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

  a.run-query {
    margin-left: 10px;
  }

  .auto-overflow {
    overflow: auto;
  }

  table th,
  table td {
    font-weight: normal;
    font-size: 1.4rem;
  }

  .btn-dropdown {
    background-color: hsl(193, 32%, 75%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aacad3", endColorstr="#aacad3");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#aacad3), to(#aacad3));
    background-image: -moz-linear-gradient(top, #aacad3, #aacad3);
    background-image: -ms-linear-gradient(top, #aacad3, #aacad3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aacad3), color-stop(100%, #aacad3));
    background-image: -webkit-linear-gradient(top, #aacad3, #aacad3);
    background-image: -o-linear-gradient(top, #aacad3, #aacad3);
    background-image: linear-gradient(#aacad3, #aacad3);
    border-color: #aacad3 #aacad3 hsl(193, 32%, 75%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
  }
  .btn-dropdown:hover {
    background-color: hsl(193, 31%, 70%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9abfca", endColorstr="#9abfca");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9abfca), to(#9abfca));
    background-image: -moz-linear-gradient(top, #9abfca, #9abfca);
    background-image: -ms-linear-gradient(top, #9abfca, #9abfca);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9abfca), color-stop(100%, #9abfca));
    background-image: -webkit-linear-gradient(top, #9abfca, #9abfca);
    background-image: -o-linear-gradient(top, #9abfca, #9abfca);
    background-image: linear-gradient(#9abfca, #9abfca);
    border-color: #9abfca #9abfca hsl(193, 31%, 70%);
  }

}



